{% extends 'helpapp/home.html' %}
{% load bootstrap4 %}
{% block title %}
    Problem solved
{% endblock %}
{% block page %}
    <div class="col-md-8">
        <div class="panel text-left">
            <div class="panel-heading bg-blue">
                <h4 class="panel-title text-left text-white">
                    Problem solved
                </h4>
            </div>
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-pink">This problem solved</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}