{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js ' %}"></script>
    <link href="{% static "style.css" %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            </br>
            <div class="panel panel-body">
                <div class="panel-body">
                    <h3 class="text-center text-uppercase">
                        <b>{% block heading %}{% endblock %}</b>
                    </h3>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>